name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-go@v5
        with:
          go-version: "^1.23"

      - uses: cachix/install-nix-action@v28
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: nicknovitski/nix-develop@v1

      - name: Run tests
        run: |
          make test
          make promu
          make check_license
